<% provide :title, t("static_pages.home.home") %>
<div class="center jumbotron">
  <h1><%= t "static_pages.home.text_home_title" %></h1>
  <h2>
    <%= t "static_pages.home.text_home_page" %>
    <%= link_to t("static_pages.home.ruby_link"), "https://www.ruby-lang.org/vi/" %>
  </h2>
  <%= link_to t("static_pages.home.signup_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
