<% if object.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    <% if object.errors.count == 1 %>
      <%= t("error_messages.single_error")%>
    <% else %>
      <%= t("error_messages.other_error_count", number_error: object.errors.count) %>
    <% end %>
  </div>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
